In [12]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import os

# get data from files

In [13]:
IDIR = os.path.abspath('../data')
print('loading prior')
priors = pd.read_csv(os.path.join(IDIR,'order_products__prior.csv'), dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading train')
train = pd.read_csv(os.path.join(IDIR,'order_products__train.csv'), dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading orders')
orders = pd.read_csv(os.path.join(IDIR,'orders.csv'), dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32})

print('loading products')
products = pd.read_csv(os.path.join(IDIR,'products.csv'), dtype={
        'product_id': np.uint16,
        'order_id': np.int32,
        'aisle_id': np.uint8,
        'department_id': np.uint8},
        usecols=['product_id', 'aisle_id', 'department_id'])

loading prior
loading train
loading orders
loading products

In [14]:
print('priors {}: {}'.format(priors.shape, ', '.join(priors.columns)))
print('orders {}: {}'.format(orders.shape, ', '.join(orders.columns)))
print('train {}: {}'.format(train.shape, ', '.join(train.columns)))

priors (32434489, 4): order_id, product_id, add_to_cart_order, reordered
orders (3421083, 7): order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order
train (1384617, 4): order_id, product_id, add_to_cart_order, reordered

# compute product info from prior dataset

In [15]:
print('computing product f')
prods = pd.DataFrame()
prods['orders'] = priors.groupby(priors.product_id).size().astype(np.int32)
prods['reorders'] = priors['reordered'].groupby(priors.product_id).sum().astype(np.float32)
prods['reorder_rate'] = (prods.reorders / prods.orders).astype(np.float32)
products = products.join(prods, on='product_id')
products.set_index('product_id', drop=False, inplace=True)
del prods

computing product f

In [19]:
products.head(10)

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
1,1,61,19,1852.0,1136.0,0.613391
2,2,104,13,90.0,12.0,0.133333
3,3,94,7,277.0,203.0,0.732852
4,4,38,1,329.0,147.0,0.446809
5,5,5,13,15.0,9.0,0.600000
6,6,11,11,8.0,3.0,0.375000
7,7,98,7,30.0,12.0,0.400000
8,8,116,1,165.0,83.0,0.503030
9,9,120,16,156.0,82.0,0.525641
10,10,115,7,2572.0,1304.0,0.506998

In [17]:
print('add order info to priors')
orders.set_index('order_id', inplace=True, drop=False)
priors = priors.join(orders, on='order_id', rsuffix='_')
priors.drop('order_id_', inplace=True, axis=1)

add order info to priors

In [18]:
print('computing user f')
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders.groupby('user_id').size().astype(np.int16)

users = pd.DataFrame()
users['total_items'] = priors.groupby('user_id').size().astype(np.int16)
users['all_products'] = priors.groupby('user_id')['product_id'].apply(set)
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)

users = users.join(usr)
del usr
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)
print('user f', users.shape)

### userXproduct features

print('compute userXproduct f - this is long...')
priors['user_product'] = priors.product_id + priors.user_id * 100000

computing user f
user f (206209, 6)
compute userXproduct f - this is long...

In [ ]:
priors.user_product.max()

In [23]:
dir()

AttributeError: 'DataFrame' object has no attribute 'dtype'

# skip

In [9]:
d= dict()
for row in priors.itertuples():
    z = row.user_product
    if z not in d:
        d[z] = (1,
                (row.order_number, row.order_id),
                row.add_to_cart_order)
    else:
        d[z] = (d[z][0] + 1,
                max(d[z][1], (row.order_number, row.order_id)),
                d[z][2] + row.add_to_cart_order)

print('to dataframe (less memory)')
userXproduct = pd.DataFrame.from_dict(d, orient='index')
del d
userXproduct.columns = ['nb_orders', 'last_order_id', 'sum_pos_in_cart']
userXproduct.nb_orders = userXproduct.nb_orders.astype(np.int16)
userXproduct.last_order_id = userXproduct.last_order_id.map(lambda x: x[1]).astype(np.int32)
userXproduct.sum_pos_in_cart = userXproduct.sum_pos_in_cart.astype(np.int16)
print('user X product f', len(userXproduct))

del priors

to dataframe (less memory)
user X product f 13293564

In [11]:
userXproduct

             nb_orders  last_order_id  sum_pos_in_cart
 1241513984          5         843810               63
-939524095           1        2699553                9
 1375731717          7        2844957               51
 1762712763          1        3033211               11
 369098760           4        1924807               57
-1247106388          3         723315               13
 1442840587          1        2642800               11
 436207632           1        1987038                8
 771751953           8        1927178               52
 905969682           1        2552224               17
 469762068           4        1014699               19
 1744830489          2         164816               22
 469762074           4        1072128               40
-727012689           1        2329360               15
 1901417818          4        2260711               23
-1744830434         10        3129348               83
-2013265915          1        1072413               10
-1644167136          1        1899995                5
 324359515           1        2755189               17
-1677721561          1        1300856               19
-1890232996          1        1391882                2
 469762091           3        1432184               12
 134217772          19        3220637               46
-1582650702          1         492678                1
 1973182167          1        2146591                5
-1610612689          1         694984               10
 1207959601          1        1305253               13
-1879048142          2         166438               26
-167772108           1        2725679                2
 973078582           3        1392931                8
...                ...            ...              ...
 963127419           1        3280439               14
 827675977           1        1979359                4
 2147483576          1         845954               15
-939524165           4        2869647               34
-570425412           1         955037                6
 234880959           1         142526               36
 2113929158          1        3055674               29
 2136310474          1        2953632                1
-332960526           1        1098028                1
 134217677           4        3220637               13
-1677721650          5        2551083               77
 1275068368          4        1358202               10
-369098798           7        3355914               35
-100663339           1        2446404               14
 1257357972          2         393570               15
-1879048229          1        3085424               32
-335544354           2         913880               39
 939524064           3         803459               29
-956301317           1        2631973                1
-1308622874          1         147812                3
-805306393           1         352146               15
-335544343           1         136817                7
 1744830443          6         337555               46
-1845493779          1        2131463                4
-1308622865          1         687142                3
 1744830450          1        1241097               26
-1744830477          1        1025351               11
-335544332           1        1450403               28
-1577058315          1         489868                5
 1744830463          1        2446290               17

[13293564 rows x 3 columns]

# skip

In [10]:
userXproduct.to_csv('userXproduct.csv', index=False)

In [8]:
userXproduct = pd.read_csv(os.path.join(IDIR,'userXproduct.csv'), dtype={
            'nb_orders': np.int16,
            'last_order_id': np.int32,
            'sum_pos_in_cart': np.int16})
userXproduct

          nb_orders  last_order_id  sum_pos_in_cart
0                 5         843810               63
1                 1        2699553                9
2                 7        2844957               51
3                 1        3033211               11
4                 4        1924807               57
5                 3         723315               13
6                 1        2642800               11
7                 1        1987038                8
8                 8        1927178               52
9                 1        2552224               17
10                4        1014699               19
11                2         164816               22
12                4        1072128               40
13                1        2329360               15
14                4        2260711               23
15               10        3129348               83
16                1        1072413               10
17                1        1899995                5
18                1        2755189               17
19                1        1300856               19
20                1        1391882                2
21                3        1432184               12
22               19        3220637               46
23                1         492678                1
24                1        2146591                5
25                1         694984               10
26                1        1305253               13
27                2         166438               26
28                1        2725679                2
29                3        1392931                8
...             ...            ...              ...
13293534          1        3280439               14
13293535          1        1979359                4
13293536          1         845954               15
13293537          4        2869647               34
13293538          1         955037                6
13293539          1         142526               36
13293540          1        3055674               29
13293541          1        2953632                1
13293542          1        1098028                1
13293543          4        3220637               13
13293544          5        2551083               77
13293545          4        1358202               10
13293546          7        3355914               35
13293547          1        2446404               14
13293548          2         393570               15
13293549          1        3085424               32
13293550          2         913880               39
13293551          3         803459               29
13293552          1        2631973                1
13293553          1         147812                3
13293554          1         352146               15
13293555          1         136817                7
13293556          6         337555               46
13293557          1        2131463                4
13293558          1         687142                3
13293559          1        1241097               26
13293560          1        1025351               11
13293561          1        1450403               28
13293562          1         489868                5
13293563          1        2446290               17

[13293564 rows x 3 columns]

In [7]:

### train / test orders ###
print('split orders : train, test')
test_orders = orders[orders.eval_set == 'test']
train_orders = orders[orders.eval_set == 'train']

train.set_index(['order_id', 'product_id'], inplace=True, drop=False)

### build list of candidate products to reorder, with features ###

def features(selected_orders, labels_given=False):
    print('build candidate list')
    order_list = []
    product_list = []
    labels = []
    i=0
    for row in selected_orders.itertuples():
        i+=1
        if i%10000 == 0: print('order row',i)
        order_id = row.order_id
        user_id = row.user_id
        user_products = users.all_products[user_id]
        product_list += user_products
        order_list += [order_id] * len(user_products)
        if labels_given:
            labels += [(order_id, product) in train.index for product in user_products]
        
    df = pd.DataFrame({'order_id':order_list, 'product_id':product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    del order_list
    del product_list
    
    print('user related features')
    df['user_id'] = df.order_id.map(orders.user_id)
    df['user_total_orders'] = df.user_id.map(users.nb_orders)
    df['user_total_items'] = df.user_id.map(users.total_items)
    df['total_distinct_items'] = df.user_id.map(users.total_distinct_items)
    df['user_average_days_between_orders'] = df.user_id.map(users.average_days_between_orders)
    df['user_average_basket'] =  df.user_id.map(users.average_basket)
    
    print('order related features')
    # df['dow'] = df.order_id.map(orders.order_dow)
    df['order_hour_of_day'] = df.order_id.map(orders.order_hour_of_day)
    df['days_since_prior_order'] = df.order_id.map(orders.days_since_prior_order)
    df['days_since_ratio'] = df.days_since_prior_order / df.user_average_days_between_orders
    
    print('product related features')
    df['aisle_id'] = df.product_id.map(products.aisle_id)
    df['department_id'] = df.product_id.map(products.department_id)
    df['product_orders'] = df.product_id.map(products.orders).astype(np.int32)
    df['product_reorders'] = df.product_id.map(products.reorders)
    df['product_reorder_rate'] = df.product_id.map(products.reorder_rate)

    print('user_X_product related features')
    df['z'] = df.user_id * 100000 + df.product_id
    df.drop(['user_id'], axis=1, inplace=True)
    df['UP_orders'] = df.z.map(userXproduct.nb_orders)
    df['UP_orders_ratio'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_last_order_id'] = df.z.map(userXproduct.last_order_id)
    df['UP_average_pos_in_cart'] = (df.z.map(userXproduct.sum_pos_in_cart) / df.UP_orders).astype(np.float32)
    df['UP_reorder_rate'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_orders_since_last'] = df.user_total_orders - df.UP_last_order_id.map(orders.order_number)
    df['UP_delta_hour_vs_last'] = abs(df.order_hour_of_day - df.UP_last_order_id.map(orders.order_hour_of_day)).map(lambda x: min(x, 24-x)).astype(np.int8)
    #df['UP_same_dow_as_last_order'] = df.UP_last_order_id.map(orders.order_dow) == \
    #                                              df.order_id.map(orders.order_dow)

    df.drop(['UP_last_order_id', 'z'], axis=1, inplace=True)
    print(df.dtypes)
    print(df.memory_usage())
    return (df, labels)
    

df_train, labels = features(train_orders, labels_given=True)

split orders : train, test
build candidate list
order row 10000
order row 20000
order row 30000
order row 40000
order row 50000
order row 60000
order row 70000
order row 80000
order row 90000
order row 100000
order row 110000
order row 120000
order row 130000
user related features
order related features
product related features
user_X_product related features

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [14]:
df_train.to_csv('df_train.csv', index=False)

array([0, 1, 1, ..., 0, 0, 0], dtype=int8)

In [16]:
f_to_use = ['user_total_orders', 'user_total_items', 'total_distinct_items',
       'user_average_days_between_orders', 'user_average_basket',
       'order_hour_of_day', 'days_since_prior_order', 'days_since_ratio',
       'aisle_id', 'department_id', 'product_orders', 'product_reorders',
       'product_reorder_rate', 'UP_orders', 'UP_orders_ratio',
       'UP_average_pos_in_cart', 'UP_reorder_rate', 'UP_orders_since_last',
       'UP_delta_hour_vs_last'] # 'dow', 'UP_same_dow_as_last_order'


print('formating for lgb')
d_train = lgb.Dataset(df_train[f_to_use],
                      label=labels,
                      categorical_feature=['aisle_id', 'department_id'])  # , 'order_hour_of_day', 'dow'
del df_train

params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss'},
    'num_leaves': 96,
    'max_depth': 10,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5
}
ROUNDS = 100

print('light GBM train :-)')
bst = lgb.train(params, d_train, ROUNDS)
# lgb.plot_importance(bst, figsize=(9,20))
del d_train

### build candidates list for test ###

df_test, _ = features(test_orders)

print('light GBM predict')
preds = bst.predict(df_test[f_to_use])

df_test['pred'] = preds

TRESHOLD = 0.22  # guess, should be tuned with crossval on a subset of train data

d = dict()
for row in df_test.itertuples():
    if row.pred > TRESHOLD:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in test_orders.order_id:
    if order not in d:
        d[order] = 'None'

sub = pd.DataFrame.from_dict(d, orient='index')

sub.reset_index(inplace=True)
sub.columns = ['order_id', 'products']
sub.to_csv('sub.csv', index=False)

formating for lgb
light GBM train :-)
build candidate list
('order row', 10000)
('order row', 20000)
('order row', 30000)
('order row', 40000)
('order row', 50000)
('order row', 60000)
('order row', 70000)
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                     72
order_id                            19333168
product_id                          19333168
user_total_orders                    9666584
user_total_items                     9666584
total_distinct_items                 9666584
user_average_days_between_orders    19333168
user_average_basket                 19333168
order_hour_of_day                    4833292
days_since_prior_order              19333168
days_since_ratio                    19333168
aisle_id                             4833292
department_id                        4833292
product_orders                      19333168
product_reorders                    19333168
product_reorder_rate                19333168
UP_orders                            9666584
UP_orders_ratio                     19333168
UP_average_pos_in_cart              19333168
UP_reorder_rate                     19333168
UP_orders_since_last                 9666584
UP_delta_hour_vs_last                4833292
dtype: int64
light GBM predict